<div class="container-fluid px-3" ngbAutofocus>
    <div class="d-flex justify-content-between pt-3">
        <div class="title">Applications (Teams)</div>
    </div>

    <div class="mt-2 mb-3">
        <app-data-table
          [tableHeader]="projectHeader"
          [tableData]="projectData"
          [tableClass]="'project-team-table'"
          (IsApi)="getData($event)"
          (emitToolTipAction)="actionOnToolTip($event)"
          (emitLink)="viewResume($event)"
        ></app-data-table>
    </div>

    <div class="col-12 d-flex justify-content-center mb-2">
        <button type="button" (click)="close()" class="btn btn-primary btn-bg-white">Close</button>
    </div>
</div>