<main class="py-3 px-4" ngbAutofocus>
  <h5 class="text-center mb-3 mt-0 fw-bold">
    User Terms and Conditions ("Terms")
  </h5>

  <div class="modal-border p-3">
    <section>
      <h5 class="mt-0 fw-bold">Acknowledgment:</h5>
      <p>
        These are the Terms governing the use of the Application/ Service
        (“Service”) and the agreement that operates between the user or the
        licencing entity and the QBIC. These Terms and Conditions set out the
        rights and obligations of all users regarding the use of the Service.
      </p>
      <p>
        The access to and use of the Service is conditioned on the acceptance of
        and compliance with these Terms. By accessing or using the Service, the
        user agrees to be bound by these Terms. If the user disagrees with any
        part of these Terms or breaches the same, then user’s access to this
        Service will be immediately.
      </p>
      <p>
        The access to use of the Service is also conditioned on the acceptance
        of and compliance with the Privacy Policy of QBIC. QBIC’s Privacy Policy
        describes the policies and procedures on the collection, use and
        disclosure of the personal information when user avails the Services or
        visits the website.
      </p>
      <h5 class="fw-bold">User Accounts:</h5>
      <p>
        For the purpose of creating user accounts, all information provided must
        be accurate, complete, and current at all times. Failure to do so
        constitutes a breach of the Terms, which may result in immediate
        termination of the user account for the Service.
      </p>
      <p>
        The use is responsible for safeguarding the password used to access the
        Service and for any activities or actions under the user account’s
        password, whether the password is the Service or a Third-Party Social
        Media Service. The password should not be disclosed to any to any third
        party. User must notify QBIC immediately upon becoming aware of any
        breach of security or unauthorized use of the user’s account.
      </p>
      <h5 class="fw-bold">Contents:</h5>
      <p>
        The user is permitted to post content on the application but is
        responsible for the same including its legality, reliability, and
        appropriateness. By posting content to the Service, the user grant QBIC
        the right and license to use, modify, publicly perform, publicly
        display, reproduce, and distribute such content on and through the
        Service. The user shall retain any and all of the rights to any content
        that is submitted, posted or displayed on or through the Service and the
        user is responsible for protecting those rights. The user agrees that
        this license includes the right for QBIC to make the content available
        to other users of the Service, who may also use the content subject to
        these Terms. The user represents and warrant that: (i) the content
        belongs to the user, or the user has the right to use it and grants QBIC
        the rights and license as provided in these Terms, and (ii) the posting
        of the user’s content on or through the Service does not violate the
        privacy rights, publicity rights, copyrights, contract rights or any
        other rights of any person.
      </p>
      <p>
        QBIC is not responsible for the content of the Service's users. The user
        expressly understands and agree that the user is solely responsible for
        the content and for all activity that occurs under the user account,
        whether done so by the user or any third person using the user’s
        account. User may not transmit any content that is unlawful, offensive,
        upsetting, intended to disgust, threatening, libelous, defamatory,
        obscene or otherwise objectionable. Examples of such objectionable
        content include, but are not limited to, the following;
      </p>
      <ul>
        <li>Unlawful or promoting unlawful activity.</li>
        <li>
          Defamatory, discriminatory, or mean-spirited content, including
          references or commentary about religion, race, sexual orientation,
          gender, national/ethnic origin, or other targeted groups.
        </li>
        <li>
          Spam, machine – or randomly – generated, constituting unauthorized or
          unsolicited advertising, chain letters, any other form of unauthorized
          solicitation, or any form of lottery or gambling.
        </li>
      </ul>
    </section>
    <hr />
    <section>
      <ul>
        <li>
          Containing or installing any viruses, worms, malware, trojan horses,
          or other content that is designed or intended to disrupt, damage, or
          limit the functioning of any software, hardware or telecommunications
          equipment or to damage or obtain unauthorized access to any data or
          other information of a third person.
        </li>
        <li>
          Infringing on any proprietary rights of any party, including patent,
          trademark, trade secret, copyright, right of publicity or other
          rights.
        </li>
        <li>
          Impersonating any person or entity including QBIC and its employees or
          representatives.
        </li>
        <li>Violating the privacy of any third person.</li>
        <li>False information and features.</li>
      </ul>
      <p>
        QBIC reserves the right, but not the obligation, to, in its sole
        discretion, determine whether or not any content is appropriate and
        complies with this Terms, refuse or remove this content. QBIC further
        reserves the right to make formatting and edits and change the manner of
        any content. Under no circumstances will QBIC be liable in any way for
        any content, including any errors or omissions in any content, or any
        loss or damage of any kind incurred as a result of the use of any
        content.
      </p>
      <h5 class="fw-bold">Content Back-up:</h5>
      <p>
        Although regular backups of content are performed, QBIC does not
        guarantee there will be no loss or corruption of data and QBIC will not
        be liable with respect to aspects related to the integrity of content or
        the failure to successfully restore content to a usable state.
      </p>
      <h5 class="fw-bold">Intellectual Property:</h5>
      <p>
        The Service and its original content (excluding content provided by the
        users), features and functionality are and will remain the exclusive
        property of QBIC and its licensors. The Service is protected by
        copyright, trademark, and other applicable laws of the country. QBIC’s
        trademarks and trade dress may not be used in connection with any
        product or service without the prior written consent of QBIC. QBIC
        respects the intellectual property rights of others. It is QBIC’s policy
        to respond to any claim that content posted on the Service infringes a
        copyright or other intellectual property infringement of any person. For
        raising any concerns related to intellectual property infringements,
        please reach out to
        <a>{{ "care@techcell.org" }}</a> . Please note, a user may be held
        accountable for damages (including costs and lawyer fees) for
        misrepresenting that any content is infringing a user’s copyright.
      </p>
      <h5 class="fw-bold">Links to Other Websites:</h5>
      <p>
        The Application may contain links to third-party web sites or services
        that are not owned or controlled by QBIC. QBIC has no control over, and
        assumes no responsibility for, the content, privacy policies, or
        practices of any third-party web sites or services. The user further
        acknowledges and agree that QBIC shall not be responsible or liable,
        directly or indirectly, for any damage or loss caused or alleged to be
        caused by or in connection with the use of or reliance on any such
        content, goods or services available on or through any such web sites or
        services.
      </p>
      <h5 class="fw-bold">Disclaimer:</h5>
      <p>
        THE SERVICES ARE PROVIDED ON AN “AS IS” BASIS. TO THE MAXIMUM EXTENT
        PERMITTED UNDER APPLICABLE LAW AND EXCEPT AS EXPRESSLY PROVIDED HEREIN,
        QBIC, FOR ITSELF AND ON BEHALF OF ITS LICENSORS, DISCLAIMS ALL
        WARRANTIES WHETHER EXPRESS, IMPLIED, OR STATUTORY, INCLUDING ANY
        WARRANTIES OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A
        PARTICULAR PURPOSE, TITLE, AND/OR NON-INFRINGEMENT, AND ANY WARRANTY
        ARISING FROM COURSE OF DEALING OR COURSE OF PERFORMANCE, RELATING TO THE
        SERVICES. NEITHER QBIC
      </p>
    </section>
    <hr />
    <section>
      <p>
        NOR ITS LICENSORS WARRANT THAT THE SERVICES WILL OPERATE UNINTERRUPTED,
        THAT IT WILL BE FREE FROM DEFECTS OR ERRORS, OR THAT IT OR THE SERVICES
        WILL MEET USER’S REQUIREMENTS.
      </p>
      <h5>Termination:</h5>
      <p>
        QBIC may terminate or suspend a user’s account immediately, without
        prior notice or liability, for any reason whatsoever, including without
        limitation if the user breach these Terms. Upon termination, user’s
        right to use the Service will cease immediately.
      </p>
      <h5 class="fw-bold">Limitation of Liability:</h5>
      <p>
        Notwithstanding any damages that the user might incur, the entire
        liability of OBC and any of its suppliers under any provision of this
        Terms and the user’s exclusive remedy for all of the foregoing shall be
        limited to the amount actually paid by the user or 10% of any user fee
        paid, if the user hasn’t purchased anything through the Service.
      </p>
      <h5 class="fw-bold">GOVERNING LAW & JURISDICTION:</h5>
      <p>
        Any and all claims, disputes, and controversies arising under, out of or
        in connection with these terms, shall be governed by, construed and take
        effect in accordance with the laws of India and the parties submit to
        the exclusive jurisdiction of the courts of Bangalore, India (solely for
        enforcement of arbitration awards or for claims not otherwise subject to
        arbitration hereunder).
      </p>
      <h5 class="fw-bold">Severability:</h5>
      <p>
        If any provision of these Terms is held to be unenforceable or invalid,
        such provision will be changed and interpreted to accomplish the
        objectives of such provision to the greatest extent possible under
        applicable law and the remaining provisions will continue in full force
        and effect.
      </p>
      <h5 class="fw-bold">Waiver:</h5>
      <p>
        Except as provided herein, the failure to exercise a right or to require
        performance of an obligation under these Terms shall not effect QBIC’s
        ability to exercise such right or require such performance at any time
        thereafter nor shall the waiver of a breach constitute a waiver of any
        subsequent breach.
      </p>
      <h5 class="fw-bold">Changes to These Terms:</h5>
      <p>
        QBIC reserve the right, at its sole discretion, to modify or replace
        these Terms at any time. If a revision is material, QBIC will make
        reasonable efforts to provide at least 30 days' notice prior to any new
        terms taking effect. What constitutes a material change will be
        determined by QBIC at its sole discretion. By continuing to access or
        use Our Service after those revisions become effective, the user agrees
        to be bound by the revised terms.
      </p>
      <h5 class="fw-bold">Contact Us:</h5>
      <p>
        For any queries related to these Terms and Conditions, please reach out
        to
        <a>{{ "care@techcell.org" }}</a>
      </p>
    </section>
    <hr />
    <section>
      <h5 class="text-body-secondary text-center">Document Information</h5>
      <p class="text-body-secondary">Document Versions</p>
      <table>
        <tr>
          <th>Version</th>
          <th>Date</th>
          <th>Document Editor</th>
          <th>Comment</th>
        </tr>
        <tr *ngFor="let item of items">
          <td>{{ item.version }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.docEditor }}</td>
          <td>{{ item.comment }}</td>
        </tr>
      </table>
    </section>
  </div>
</main>
