<div class="main-section">
  <img
    src="../../../assets/images/Close_round.png"
    class="modal-close-icon modal-close-icon-abs"
    alt=""
    (click)="close()"
  />

  <div class="main-container">
    <div class="">
      <form
        [formGroup]="resetForm"
        (ngSubmit)="submitForm()"
        autocomplete="off"
      >
        <div class="text-center">
          <div class="lock-icon">
            <svg
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.7976 8.56601V6.91705C14.7976 4.6403 12.9519 2.79464 10.6752 2.79464C8.39845 2.79464 6.55279 4.6403 6.55279 6.91705V8.56601M10.6752 12.2762V13.9251M8.03686 17.6353H13.3135C14.6988 17.6353 15.3914 17.6353 15.9205 17.3657C16.3859 17.1286 16.7643 16.7502 17.0015 16.2848C17.271 15.7557 17.271 15.0631 17.271 13.6778V12.5235C17.271 11.1383 17.271 10.4456 17.0015 9.91653C16.7643 9.45113 16.3859 9.07274 15.9205 8.8356C15.3914 8.56601 14.6988 8.56601 13.3135 8.56601H8.03686C6.6516 8.56601 5.95897 8.56601 5.42987 8.8356C4.96446 9.07274 4.58607 9.45113 4.34894 9.91653C4.07935 10.4456 4.07935 11.1383 4.07935 12.5235V13.6778C4.07935 15.0631 4.07935 15.7557 4.34894 16.2848C4.58607 16.7502 4.96446 17.1286 5.42987 17.3657C5.95897 17.6353 6.6516 17.6353 8.03686 17.6353Z"
                stroke="#344054"
                stroke-width="1.64896"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <p class="title-text">Reset Password</p>
          <p class="sub-title-text">
            To update your password, please enter your New password and Confirm.
          </p>
        </div>
        <div class="">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12 mb-3 newPassowrd">
                <label for="newPassowrd">New Password</label>
                <div class="position-relative">
                  <input
                    formControlName="password"
                    [type]="isNewPwd ? 'text' : 'password'"
                    class="form-control"
                    id="newPassowrd"
                    placeholder=""
                    required
                  />
                  <span class="">
                    <img
                      *ngIf="!isNewPwd"
                      src="./../../../assets/lucide-icons/eye-off.svg"
                      class="input-group-eye"
                      alt=""
                      (click)="newPwd()"
                    />
                    <img
                      *ngIf="isNewPwd"
                      src="./../../../assets/lucide-icons/eye.svg"
                      class="input-group-eye"
                      alt=""
                      (click)="newPwd()"
                    />
                  </span>
                </div>
                <div
                  *ngIf="
                    (fieldName['password'].touched || isSubmitted) &&
                    fieldName['password'].errors
                  "
                >
                  <div
                    *ngIf="fieldName.password.errors?.['required']"
                    class="text-danger d-inline-block mt-1"
                  >
                    Password is required
                  </div>
                  <div
                    *ngIf="fieldName.password?.errors?.['pattern']"
                    class="text-danger d-inline-block mt-1"
                  >
                    Password Don't meet the requirement
                    <i
                      class="fa fa-info-circle"
                      aria-hidden="true"
                      data-toggle="popover"
                      title="Popover title"
                      data-content="And here's some amazing content. It's very engaging. Right?"
                    ></i>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-12 confirmPassword">
                <label for="confirmPassword">Confirm Password</label>
                <div class="position-relative">
                  <input
                    formControlName="confirmPassword"
                    [type]="isCnfPwd ? 'text' : 'password'"
                    class="form-control"
                    id="confirmPassword"
                    placeholder=""
                    required
                  />
                  <span class="">
                    <img
                      *ngIf="!isCnfPwd"
                      src="./../../../assets/lucide-icons/eye-off.svg"
                      class="input-group-eye"
                      alt=""
                      (click)="cnfPwd()"
                    />
                    <img
                      *ngIf="isCnfPwd"
                      src="./../../../assets/lucide-icons/eye.svg"
                      class="input-group-eye"
                      alt=""
                      (click)="cnfPwd()"
                    />
                  </span>
                </div>
                <div
                  *ngIf="
                    (fieldName['confirmPassword'].touched || isSubmitted) &&
                    fieldName['confirmPassword'].errors
                  "
                >
                  <div
                    *ngIf="fieldName.confirmPassword.errors?.['required']"
                    class="text-danger d-inline-block mt-1"
                  >
                    Confirm Password is required
                  </div>
                </div>
                <div
                  *ngIf="fieldName.confirmPassword.value != '' && resetForm.errors?.['PasswordNotMatched']"
                  class="text-danger d-inline-block mt-1"
                >
                  Password Does not match
                </div>
              </div>
              <div class="text-center mt-3">
                <button type="submit" class="btn c-pop-btn-primary">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
