<div class="exit">
  <div class="exit__title mb-3">
    Are you sure you want to exit this Community?
  </div>
  <button class="btn c-pop-btn-outline" (click)="exitCommunity()">
    Confirm
  </button>
</div>

<!-- <div class="container-fluid mb-2">
  <div class="row bg-white p-4">
    <div class="col-12 header p-1 px-3">Exit Community</div>
    <div class="col-12 p-1 px-3 my-3 text-center py-4">
      <h3 class="title-desc">Are you sure you want to exit this Community?</h3>
      <button
        class="btn rounded-4 mt-3 btn-border" (click)="exitCommunity()"
      >
        Confirm
      </button>
    </div>
  </div>
</div> -->
