@font-face {
  font-family: "lato-bold";
  src: url("../assets/fonts/lato.bold.ttf") format("truetype");
}

@font-face {
  font-family: "lato-regular";
  src: url("../assets/fonts/lato.regular.ttf") format("truetype");
}

@font-face {
  font-family: "arial-bold";
  src: url("../assets/fonts/Arial.Bold.ttf") format("truetype");
}

@font-face {
  font-family: "arial-regular";
  src: url("../assets/fonts/Arial.Regular.ttf") format("truetype");
}
