$white: rgba(255, 255, 255, 1);
$white_1: #ffffff;

$button-primary: #1cb5eb;
$input-box-border: rgba(143, 143, 143, 1);

$light-gray: #ffffff;
$light-gray-1: rgba(237, 240, 242, 1);
$dark-gray: rgba(222, 222, 222, 1);
$text-gray: rgba(0, 0, 0, 0.68);
$red: rgba(255, 42, 42, 1);

$common-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$text-shadow: 0px 4px 11px rgba(63, 64, 64, 0.71);
$body-bg: rgba(217, 217, 217, 1);
$body-content-bg: rgba(255, 255, 255, 1);
$banner-bg: rgba(20, 69, 87, 1);

$primary: rgba(28, 181, 235, 1);
