<div class="container-fluid mb-2">
    <div class="row bg-white p-lg-2 p-md-2 p-sm-2">
    <div class="col-2">
        <img src="../../../assets/svg/software-download.svg" height="48px" width="48px" alt="whatsapp" />
    </div>
    <div class="col-10">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div class="header">
                    Download Software
                </div>
                <img src="../../../assets/images/Close_round.png" width="20px" height="20px" alt="" class="cur-p" (click)="close()">
               </div>
            <div class="col-12">
              <div class="title-desc">Thank you for your interest! Click Ok to download this Application.</div>
              <div class="d-flex justify-content-center gap-5">
                  <button class="btn rounded-4 mt-3 btn-border" (click)="close()">
                      Cancel
                  </button>
                  <button class="btn rounded-4 mt-3 btn-border" (click)="join()">
                      Ok
                  </button>
              </div>
            </div>
        </div>
    </div>
    </div>
  </div>