<div class="social-img-container d-flex flex-column align-items-center">
  <a href="https://web.whatsapp.com/" target="_blank">
    <img
      src="../../../assets/social-media/whatsapp.svg"
      alt="whatsapp"
      class="cur-p"
    />
  </a>
  <a href="https://www.instagram.com/accounts/login/" target="_blank">
    <img
      src="../../../assets/social-media/instagram.svg"
      alt="whatsapp"
      class="cur-p"
    />
  </a>
  <a href="https://x.com/i/flow/login" target="_blank">
    <img
      src="../../../assets/social-media/twitter.svg"
      alt="whatsapp"
      class="cur-p"
    />
  </a>
  <a href="https://www.linkedin.com/" target="_blank">
    <img
      src="../../../assets/social-media/linkedin.svg"
      alt="whatsapp"
      class="cur-p"
    />
  </a>
  <a href="https://www.youtube.com/" target="_blank">
    <img
      src="../../../assets/social-media/youtube.svg"
      alt="whatsapp"
      class="cur-p"
    />
  </a>
  <a href="https://www.facebook.com/" target="_blank">
    <img
      src="../../../assets/social-media/facebook.svg"
      alt="whatsapp"
      class="cur-p"
    />
  </a>
</div>
