<div class="secondary-header-wrapper">
  <div class="bg-white c-shadow rounded-bottom secondary-header">
    <div class="row d-flex align-items-center py-2 flex-wrap">
      <div class="carousel-box d-flex justify-content-between gap-2">
        <div class="search-box flex-grow-1 d-none d-lg-block d-md-block">
          <input
            type="text"
            placeholder="Search Hashtags"
            [(ngModel)]="term"
            (input)="getSearchText($event)"
            class="form-control search-bar"
          />
          <svg
            class="search-icon"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
              stroke="#a1a1a1"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M20.9984 21.0004L16.6484 16.6504"
              stroke="#a1a1a1"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div
          class="d-flex flex-column position-relative"
          *ngIf="viewType == 'list'"
          (click)="openFilterSearch()"
        >
          <img
            class="cur-p filter-icon"
            src="../../../assets/svg/tabler_filter-search.svg"
            alt="prev arrow"
          />
        </div>

        <button
          [disabled]="hasAsscessToAdd"
          class="btn btn-primary btn-add"
          (click)="addSoftware()"
          *ngIf="role"
        >
          Add
        </button>

        <section class="custom-carousel-container" id="filter">
          <div class="arrow-left" (click)="scrollTo(menu, -1)">
            <svg
              class="tag-slider-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 18L9 12L15 6"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <ul class="carousel-container" #menu swiper-scroll>
            <ng-container
              *ngIf="hashTagList | searchFilter : term : 'text' as hashTagList"
            >
              <li
                [attr.data-item]="hash.id"
                *ngFor="let hash of hashTagList; let i = index"
                [ngClass]="{ activeTag: tagId == hash.id }"
              >
                <div
                  class="search__filter__title cur-p"
                  (click)="
                    getDynamicHashTagList(hash.id, hash.description, true)
                  "
                >
                  {{ hash.description }}
                </div>
                <span
                  class="cur-p"
                  
                  *ngIf="tagId == hash.id"
                  (click)="cancelTag()"
                >
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#fff" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M15 9L9 15" stroke="#fff" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M9 9L15 15" stroke="#fff" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
                </span>
                <!-- <img
                  class="cur-p"
                  src="../../../assets/svg/x-circle-fill.svg"
                  alt="cancel"
                  *ngIf="selectedTag == hash.id"
                  (click)="cancelTag()"
                /> -->
              </li>
              <p *ngIf="hashTagList.length === 0">No Record found</p>
            </ng-container>
          </ul>
          <div class="arrow-right" (click)="scrollTo(menu, 1)">
            <svg
              class="tag-slider-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 18L15 12L9 6"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="software-content" [ngClass]="{ 'pb-2': viewType === 'grid' }">
  <div class="software-content__inner">
    <div class="d-flex justify-content-end content-view">
      <div class="border rounded view d-none d-sm-block d-md-none d-lg-block">
        <img
          class="gray-scale cur-p"
          [ngClass]="{ 'active-scale': viewType == 'grid' }"
          (click)="viewList('grid')"
          src="../../../assets/svg/grid-view.svg"
          alt="Grid View"
        />
        <img
          class="gray-scale cur-p"
          [ngClass]="{ 'active-scale': viewType == 'list' }"
          (click)="viewList('list')"
          src="../../../assets/svg/list-view.svg"
          alt="List View"
        />
      </div>
    </div>

    <div class="">
      <app-software-listview
        *ngIf="viewType === 'list'"
        [tagId]="tagId"
        [tagName]="tagDescription"
        [filterData]="filterData"
        (closeEvent)="cancelTag()"
      />

      <app-software-gridview
        *ngIf="viewType === 'grid'"
        [tagId]="tagId"
        [tagDescription]="tagDescription"
        (closeEvent)="cancelTag()"
      />
    </div>
  </div>
</div>
