<main class="p-3" ngbAutofocus>
  <button class="c-btn-close" (click)="close()">
    <img src="../../../assets/lucide-icons/x.svg" alt="Close icon" />
  </button>
  <h5 class="text-center mb-3 mt-0 fw-bold">Our Cookies Policy</h5>

  <div class="modal-border p-3">
    <section>
      <p>
        <b
          >Below is information about how Qbic Catalyst Partners Pvt. Ltd
          (“QBIC”) use cookies and other similar technology on this website.</b
        >
      </p>
      <p>
        A cookie is a piece of text, pixels, clear GIFs, log files, web beacons,
        or other tracing or tracking files or similar technology that are placed
        on the user’s device. Cookies are useful because they allow a website
        and its applications to recognize a user’s device. They are used for a
        wide variety of purposes such as website and application analytics –
        counting visitors and their behavior, targeted advertising, recording
        user preferences, or for authentication.
      </p>
      <h5 class="fw-bold">QBIC uses cookies to:</h5>
      <ul>
        <li>Enrich the user experience.</li>
        <li>Enhance and personalize aspects of our service.</li>
      </ul>
      <p>
        Some cookies, web beacons and other tracking and storage technologies
        that QBIC may use would be from third party companies (third party
        cookies), such as YouTube, Linkedin Analytics etc. to provide QBIC with
        web analytics and intelligence about QBIC’s website and its applications
        which may or could also be used to provide measurement services and
        target ads. These companies use programming code to collect information
        about your interaction with QBIC’s website and its applications, such as
        the pages you visit, the links you click on and how long you are on
        QBIC’s site and application. This code is only active while you are on
        QBIC’s website and application. For more information on how these
        companies collect and use information on QBIC’s behalf, please refer to
        the corresponding privacy policies of those third-party companies.
      </p>
      <p class="mt-2">
        QBIC may also use web beacons (including conversion pixels) or other
        technologies for similar purposes and QBIC may include these on its
        sites, applications, in marketing e-mails and newsletter, to determine
        whether messages have been opened and links clicked on. Web beacons do
        not place information on your device, but they may work in conjunction
        with cookies to monitor website and application activity. The
        information provided on cookies also applies to web beacons and similar
        technologies. Conversion pixels are small codes located on a particular
        web page which are triggered when someone visits a page resulting in an
        increase in the conversion count. You can choose to accept or decline
        cookies, either by selecting accept or decline in the banner on your
        first visit (in the latter case we will try to set a cookie to record
        your preference for future visits), or by changing the settings in your
        web browser. Most web browsers are set to accept cookies by default, but
        you can usually modify your browser settings to decline cookies if you
        prefer. These settings are usually found within the ‘Privacy’ section.
        For mobile devices, these may be within the browser app settings. If you
        choose not to accept our cookies, this may/will prevent you from taking
        full advantage of the QBIC ‘s website or application. If you wish to
        delete cookies that have already been placed on your device, you can do
        so by following your web browser’s documentation or guidance.
      </p>
    </section>
    <section>
      <h5 class="mb-2 fw-bold">Contacting Us</h5>
      <p class="mb-2">
        If you would like to contact us regarding our cookie statement, please
        email us at: qbiccatalyst.com This policy is effective as of [●]. Please
        note that this policy will be updated from time to time.
      </p>

      <address>
        Document Versions<br />
        Version<br />
        Date<br />
        Document Editor<br />
        Comment<br />
        1.0<br />
      </address>

      <address>
        Director<br />
        Initial version
      </address>
    </section>
  </div>

  <div class="col-12 d-flex justify-content-center mt-3">
    <button type="button" (click)="close()" class="btn btn-primary">
      Okay
    </button>
  </div>
</main>
