<main class="p-3" ngbAutofocus>
  <button class="c-btn-close" (click)="close()">
    <img src="../../../assets/lucide-icons/x.svg" alt="Close icon" />
  </button>
  <h5 class="text-center mb-3 mt-0 fw-bold">
    Privacy and Data Protection Policy
  </h5>
  <div class="modal-border p-3">
    <section>
      <h5 class="fw-bold">1 Introduction</h5>
      <p>
        This Privacy and Data Protection Policy (“Policy”) specifies the Privacy
        Principles followed by Qbic Catalyst Partners Pvt. Ltd and its employees
        with regards to the collection, use, transfer, storage and destruction
        of personal information/personally identifiable information.
      </p>
      <p>
        Throughout this Policy, “QBIC” refers to Qbic Catalyst Partners Pvt. Ltd
        (also referred to as “we”, “us”, or “our”).
      </p>
      <p>
        QBIC’s commitment to these policy requirements reflects the value it
        places for complying with existing Data Protection
        regulations/legislations and simultaneously maintaining the trust of the
        employees, clients, business partners, and others whose personal
        information or other confidential information is shared with us in the
        course of our business operations.
      </p>
      <h5 class="fw-bold">2 Purpose</h5>
      <p>
        This Policy aims to facilitate “Privacy-by-Design” principles in
        implementation of systems and processes by QBIC.
      </p>
      <h5 class="fw-bold">3 Scope</h5>
      <p>
        This policy document applies to QBIC’s a) Information, b) Information
        Systems, c) Employees and d) Third-Party Staff.
      </p>
      <p>
        This Policy applies to the collection, storage, processing, transfer,
        and use of personal information concerning its clients, business
        partners, employees, former employees, applicants for employment and may
        include other personal information not specifically listed here also.
        Personal information may be collected from individuals through a variety
        of means, including, for example, through websites, other ordering
        channels, and service or employment processes.
      </p>
      <h5 class="fw-bold">4 Privacy and Data Protection Policy Requirements</h5>
      <p>
        The collection, storage, processing, transfer, and use of personal
        information by QBIC for its business operations shall be governed by the
        following security controls:
      </p>
      <p class="italic text-body-secondary">
        4.1 Fair and Lawful Processing of Personal Information
      </p>
      <p>
        The following security controls shall apply to fair and lawful
        processing of personal information:
      </p>
      <div>
        <b> Notice:</b> Provide timely and appropriate notice to Data Subjects
        <p class="italic text-body-secondary">
          (Refers to any information relating to an identified or identifiable
          natural person)
        </p>
        about its data processing practices as required by applicable laws and
        regulations or, from time to time as necessary.
      </div>
    </section>
    <hr />
    <section>
      <p>
        <b> Choice </b>
        Not use personal information with third parties or provide personal
        information to third parties without giving the Data Subject(s) an
        opportunity to choose whether their information can be disclosed for
        such use, unless otherwise permitted or required by law or regulation.
      </p>
      <p>
        <b>Consent</b>
        : Process personal information only with an individual’s consent, which
        may be express or implied, depending on the sensitivity of the personal
        information and the individual’s reasonable expectations, unless
        otherwise permitted or required by law or regulation.
      </p>
      <p class="italic text-body-secondary">
        4.2 Limitations on Collection, Use, and Disclosure of Personal
        Information
      </p>
      <p>
        The following security controls shall apply to purpose limitation on the
        collection, use and disclosure of personal information:
      </p>
      <h5 class="fw-bold">Purpose</h5>
      <ul>
        <li>
          Collect personal information only for specific and legitimate business
          purposes.
        </li>
        <li>
          The information collected will be relevant, adequate, and not
          excessive for the purposes for which it is collected.
        </li>
        <li>
          Process personal information in a manner consistent with the purposes
          for which it was collected, unless otherwise permitted or required by
          law or regulation or the individual has subsequently consented to the
          new use of their personal information.
        </li>
        <li>
          Will not sell, rent, or lease personal information collected from data
          subjects in the course of its business.
        </li>
        <h5 class="fw-bold">Data Minimization</h5>
        <li>
          Take all legally required and commercially reasonable steps to ensure
          that personal information processed by QBIC is adequate, relevant and
          limited to what is necessary in relation to the purposes for which
          information is processed.
        </li>
        <h5 class="fw-bold">Onward Transfer</h5>
        <li>
          Take appropriate measures, by contract or otherwise, to provide
          adequate protection for personal information that is disclosed to a
          third party or transferred to or accessed from another country
          (includes internal transfers and transfers between business units
          and/or third parties).
        </li>
      </ul>
      <p class="italic text-body-secondary">
        4.3 Management of Personal Information
      </p>
      <p>
        The following security controls shall apply to purpose limitation on the
        collection, use and disclosure of personal information:
      </p>
      <p>
        <b> Accuracy/Integrity:</b> Take all legally required and commercially
        reasonable steps to ensure that personal information(s) –
      </p>
      <ol>
        <li>
          is reliable for its intended use, accurate, complete, and, where
          necessary, kept up to date; and
        </li>
        <li>
          b. that are inaccurate/outdated are promptly either erased or
          rectified.
        </li>
      </ol>
      <p>
        <b> Access:</b> Maintain processes to give Data Subjects reasonable
        access to their personal information and, as appropriate, the ability to
        correct, delete, or update inaccurate or incomplete information.
      </p>
      <p>
        <b>Security:</b> Take all legally required and commercially reasonable
        measures proportional to the associated risk to protect personal
        information from loss, misuse, unauthorized access or disclosure,
        alteration and destruction. Additionally, ensuring appropriate levels
        for the protection of information considered to be sensitive personal
        information.
      </p>
      <p>
        <b>Retention:</b> Keep personal information in a form that permits
        identification of Data Subjects for no longer than is necessary for the
        purposes for which the personal information is processed. Personal
        information may be stored for longer periods and will be processed
        solely for archiving purposes in the public interest, or scientific,
        historical, or statistical purposes and subject to the implementation of
        appropriate safeguards.
      </p>
      <p class="italic text-body-secondary">
        4.4 Accountability, Compliance, Exception and Violations
      </p>
      <p>
        The following security controls shall apply to accountability and
        enforcement of this policy and data protection regulations and
        legislations that governs the collection, use and disclosure of personal
        information:
      </p>
      <p>
        <b>Accountability:</b>
        The Director is responsible for and shall demonstrate compliance with
        this Policy requirements. The Director on a need basis shall designate
        individuals within the organization to be accountable for compliance
        with privacy and data protection laws and related policies.
      </p>
      <p>
        <b>
          Data Subject Access Requests, Complaints, and Dispute Resolution:
        </b>
        The Director shall provide points of contact and communication channels
        to raise access requests, to initiate data protection and
        privacy-related complaints, or to pursue dispute resolution, including a
        fair process to investigate and resolve requests and complaints and to
        communicate the progress and status of requests or complaints to Data
        Subjects.
      </p>
      <p>
        <b>Education and Awareness:</b> QBIC on a need basis shall make
        available training and programs to educate and raise awareness among
        employees, regarding legal, regulatory, and contractual responsibilities
        concerning the processing of personal information.
      </p>
      <p>
        <b>Compliance:</b> The Director is charged with the responsibility to
        implement and enforce this policy, to promulgate additional privacy
        related policies as may be required, and to provide strategically
        coordinated privacy-related compliance, function as Data Protection
        Officer, as and when required. All covered under this policy shall
        ensure compliance and adherence of this Policy and controls stipulated
        therein. Any violation of the Policy may result in disciplinary action
        which may include suspension, restriction of access or more severe
        penalties up to and including termination of employment.
      </p>
      <p>
        <b>Exception:</b>
        Exceptions to this policy must be approved by the Director.
      </p>
      <p>
        <b> Violations:</b> Any employee who knowingly violates or attempts to
        violate this policy shall be subject to disciplinary action, up to and
        including separation from QBIC, subject to applicable local employment
        laws and regulations. Where illegal activities or an attempt to by-pass
        security control are suspected, QBIC may report such event to the
        applicable local authorities.
      </p>
      <h5 class="fw-bold">5 Waivers</h5>
      <p>
        At the point of creating this Policy there are no authorized waivers or
        exceptions. All waiver and exception requests should be submitted to the
        Director who will provide a decision and where necessary, instruct
        updates to the policy documentation.
      </p>
      <h5 class="fw-bold">6 Grievance Redressal & Contact Info</h5>
      <p>
        Any grievance, complaint query or comments, in relation to this Policy,
        should be sent to QBIC in writing to the following contact email ID.
        Grievance and related queries shall be redressed as expeditiously as
        possible. The contact information: <a>{{ "care@techcell.org" }}</a>
      </p>

      <h5 class="fw-bold">Address</h5>
      <address>
        Qbic Catalyst Partners Pvt. Ltd. | 2nd Floor, # 427, 2nd Main Road, East of NGEF Layout, Kasturi Nagar, Bengaluru, Karnataka - 560043
      </address>
    </section>
    <hr />
    <section>
      <h5 class="text-body-secondary text-center fw-bold">
        Document Information
      </h5>
      <p class="text-body-secondary">Document Versions</p>
      <table>
        <tr>
          <th>Version</th>
          <th>Date</th>
          <th>Document Editor</th>
          <th>Comment</th>
        </tr>
        <tr *ngFor="let item of items">
          <td>{{ item.version }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.docEditor }}</td>
          <td>{{ item.comment }}</td>
        </tr>
      </table>
    </section>
  </div>
  <div class="col-12 d-flex justify-content-center mt-3">
    <button type="button" (click)="close()" class="btn btn-primary">
      Okay
    </button>
  </div>
</main>
