.modal-content {
  background-color: rgba(255, 255, 255, 1);
}

.cursor {
  cursor: pointer;
}

.verify-button {
  /* width: 150px; */
  border-radius: 8px !important;
  background-color: #10aaec;
}

.error-header {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  background-color: #ff5c5c;
  color: #ffffff;
}

.m-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}
.error-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.main-text {
  position: relative;
  top: -20px;
}

.text-body {
  color: #101828;
  font-weight: 600;
  font-family: Lato;
  font-size: 22px;
}
.btn-color {
  color: #10aaec !important;
}

.btn:hover {
  border: 1px solid rgb(217, 217, 217);
}

.newSuccessModal,
.newErrorModal {
  width: 100%;
  height: 210px;
  padding: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;

  @media (min-width: 768px) {
    width: 480px;
    padding: 20px;
    padding-bottom: 30px;
    min-height: 190px;
  }

  .modal-close-mobile {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;

    @media (min-width: 768px) {
      top: 16px;
      right: 16px;
    }
  }

  .modal-icon {
    width: 42px;
    aspect-ratio: 1/1;
  }

  .modal-header-text {
    color: #414141;
    font-weight: 700;
    font-size: 16px;
  }

  .text-body {
    color: #303030 !important;
    font-weight: 400;
    line-height: 150%;
    font-size: 14px;
    font-family: inherit;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  .btn-primary {
    font-size: 14px;
  }
}

::ng-deep .mat-mdc-dialog-surface {
  width: calc(100% - 20px);
}

.razorpay-logo {
  width: 100px;
  height: auto;
}
