<div class="container-fluid mb-2">
    <div class="row">
    <div class="col-12">
        <div class="row">
            <div class="d-flex justify-content-center">
                <img src="../../../assets/svg/payment.svg">
            </div>
            <div class="col-12">
                <h6 class="text-center payment-header">Online Payment</h6>
                <div class="text-center payment-title">Proceed with the online registration payment.</div>
            
            </div>
            <div class="col-12 text-center mb-2">
                <button class="btn rounded-4 w-25 mt-3 mx-4 btn-border" (click)="close()">
                    Cancel
                </button>
                <button class="btn rounded-4 w-25 mt-3 mx-4 btn-border" (click)="pay()">
                    Pay
                </button>
            </div>
        </div>
    </div>
    </div>
  </div>