<main class="p-3" ngbAutofocus>
  <button class="c-btn-close" (click)="close()">
    <img src="../../../assets/lucide-icons/x.svg" alt="Close icon" />
  </button>
  <h5 class="text-center mb-3 mt-0 fw-bold">Refund and Cancellation Policy</h5>

  <div class="modal-border p-3">
    <section>
      <p>
        <b
          >Below is information about Qbic Catalyst Partners Pvt. Ltd ("QBIC")
          refund and cancellation policy.</b
        >
      </p>

      <h5 class="fw-bold">1. Direct Sales</h5>

      <p class="mb-2"><i>1.1 Can I cancel my order?</i></p>
      <ul>
        <li>
          <b>Before Dispatch:</b> You may cancel your order any time before it
          is dispatched. Once dispatched, the order cannot be cancelled.
        </li>
        <li>
          <b>Cancellation Fee:</b> A cancellation fee of Rs 5,000/- may apply if
          the order is cancelled after the specified time window and such
          request and fee will be at the sole desertion of the facilitating
          partner.
        </li>
        <li>
          <b>Subscription Fee:</b> Cancellation or refund are not applicable for
          Subscription Orders.
        </li>
      </ul>

      <p class="mb-2"><i>1.2 How do I exercise the Right to Cancel?</i></p>
      <ul>
        <li>
          To cancel, inform us of your decision by contacting Customer Support
          Number mentioned on the website<b>.</b>
        </li>
      </ul>

      <p class="mb-2"><i>1.3 Cancellation by Retail Partner</i></p>
      <ul>
        <li>
          In cases where the Retail Partner supplying an order cancels the order
          due to unforeseen circumstances, a full refund will be initiated for
          prepaid orders.
        </li>
      </ul>

      <p class="mb-2">
        <i>1.4 Effects of Cancellation, Refunds, and Returns</i>
      </p>
      <ul>
        <li>
          Refunds will be processed within <b>30 calendar days</b> of your
          cancellation notification.
        </li>
        <li>
          You must return products in their original condition within
          <b>14 days</b> of cancellation.
        </li>
        <li>
          A cancellation fee of Rs 5,000/- will be deducted from your refund.
        </li>
        <li>
          All payments will be refunded only upon return and inspection of the
          purchased product.
        </li>
        <li>
          Cancellation or refund are not applicable for Subscription Orders.
        </li>
      </ul>

      <p class="mb-2"><i>1.5 Payment Processing</i></p>
      <ul>
        <li>
          If your order related to the product was processed through a
          third-party financial scheme (lender), refunds will be processed based
          on the terms and conditions outlined by the lender.
        </li>
        <li>
          The refund process may take additional time for funds to reflect in
          your account depending on the lender's policy.
        </li>
      </ul>
    </section>

    <section>
      <h5 class="fw-bold">2. General Provisions</h5>

      <p class="mb-2"><i>2.1 Delivery</i></p>
      <ul>
        <li>
          Product Orders will be delivered by the Retail Partner or its
          designated party.
        </li>
      </ul>

      <p class="mb-2"><i>2.2 Invoice Generation</i></p>
      <ul>
        <li>
          Invoice will be generated by the Retail Partner or its designated
          party.
        </li>
      </ul>

      <p class="mb-2"><i>2.3 Returns Policy</i></p>
      <ul>
        <li>Applicable only for eligible products.</li>
        <li>
          Returns are subject to the Retail Partner's specific return policy,
          which may vary by product category. The return policy displayed on the
          product page will prevail.
        </li>
        <li>Conditions for returns include:</li>
        <ul>
          <li>
            The product must be
            <b>unused, undamaged, and in original packaging</b>.
          </li>
          <li>
            All accompanying accessories, manuals, and warranty cards must be
            returned.
          </li>
        </ul>
      </ul>

      <p class="mb-2"><i>2.4 Returns Pick-Up and Processing</i></p>
      <ul>
        <li>During pick-up, the product will be checked for:</li>
        <ul>
          <li>Correct product</li>
          <li>Complete product (including accessories and manuals)</li>
          <li>Unused condition</li>
          <li>Undamaged packaging</li>
        </ul>
        <li>
          If any conditions are not met, the field executive has the right to
          refuse the return.
        </li>
      </ul>

      <p class="mb-2"><i>2.5 General Rules for Returns</i></p>
      <ul>
        <li>
          If a product accessory is missing or damaged, the Retail Partner may
          either replace the accessory or issue a credit, subject to the lender
          and brand policy and explicit consent of the brand.
        </li>
        <li>
          Returns for damaged or defective products will be honoured only if
          reported within 24<b> </b>hours of delivery.
        </li>
      </ul>

      <p class="mb-2"><i>2.6 Brand Warranty and Service</i></p>
      <ul>
        <li>
          For products requiring installation, returns will only be accepted if
          installed by authorized personnel.
        </li>
        <li>
          Warranty claims will be subject to the
          <b>brand's terms and conditions</b>.
        </li>
      </ul>

      <p class="mb-2"><i>2.7 Refund Processing</i></p>
      <ul>
        <li>Not applicable for Subscription Orders</li>
        <li>
          Refunds for cancelled orders will be processed within <b>30 days</b>.
        </li>
        <li>
          Refunds will be remitted <b>only to the original payment account</b>.
        </li>
      </ul>

      <p class="mb-2"><i>2.8 Disputes</i></p>
      <ul>
        <li>
          Any disputes arising out of cancellations or returns will be subject
          to the
          <b>exclusive jurisdiction of the courts in Bangalore, India</b>.
        </li>
      </ul>

      <p class="mt-3">
        For further assistance, please contact
        <b>Customer Support Number mentioned on our website</b>.
      </p>
    </section>

    <section>
      <h5 class="mb-2 fw-bold">Contacting Us</h5>
      <p class="mb-2">
        If you would like to contact us regarding our refund policy, please
        email us at: qbiccatalyst.com This policy is effective as of [●]. Please
        note that this policy will be updated from time to time.
      </p>

      <!-- <address>
        Document Versions<br />
        Version<br />
        Date<br />
        Document Editor<br />
        Comment<br />
        1.0<br />
      </address>

      <address>
        Director<br />
        Initial version
      </address> -->
    </section>
  </div>

  <div class="col-12 d-flex justify-content-center mt-3">
    <button type="button" (click)="close()" class="btn btn-primary">
      Okay
    </button>
  </div>
</main>
