<!-- moderator-registration.component.html -->

<div class="container-fluid px-lg-4">
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()" autocomplete="off">
    <div class="px-2 py-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName"
              >First Name<sup class="text-danger fs-6">*</sup></label
            >
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              id="firstName"
              placeholder="Enter your First name"
              required
              (keydown)="this.commonService.alphaOnly($event)"
            />
            <div
              *ngIf="
                (fieldName['firstName'].touched || isSubmitted) &&
                fieldName['firstName'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.firstName?.errors?.['required']">
                First Name is required
              </div>
              <div
                *ngIf="fieldName['firstName'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName"
              >Last Name<sup class="text-danger fs-6">*</sup></label
            >
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              id="lastName"
              placeholder="Enter your Last name"
              (keydown)="this.commonService.alphaOnly($event)"
            />
            <div
              *ngIf="
                (fieldName['lastName'].touched || isSubmitted) &&
                fieldName['lastName'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.lastName?.errors?.['required']">
                Last Name is required
              </div>
              <div
                *ngIf="fieldName['lastName'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="email"
              >Email Id<sup class="text-danger fs-6">*</sup></label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter your email"
            />
            <div
              *ngIf="
                (fieldName['email'].touched || isSubmitted) &&
                fieldName['email'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.email?.errors?.['required']">
                Email is required
              </div>
              <div
                *ngIf="fieldName['email'].errors?.['pattern']"
                class="text-danger"
              >
                Email is not Valid
              </div>
              <div
                *ngIf="fieldName['email'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="mobile"
              >Mobile Number<sup class="text-danger fs-6">*</sup></label
            >
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">+91</span>
              <input
                formControlName="mobile"
                type="number"
                class="form-control"
                id="mobile"
                placeholder=""
              />
            </div>
            <div
              *ngIf="
                (fieldName['mobile'].touched || isSubmitted) &&
                fieldName['mobile'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.mobile?.errors?.['required']">
                Mobile is required
              </div>
              <div *ngIf="fieldName.mobile?.errors?.['pattern']">
                Please, Enter 10 digit Mobile Number.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3 info-container">
            <div class="d-flex">
              <label for="password"
                >Password<sup class="text-danger fs-6">*</sup></label
              >
              <div class="password-info ms-auto">
                <img
                  class="info-icon-img"
                  (mouseenter)="activeTooltip = true"
                  (mouseleave)="activeTooltip = false"
                  src="../../../../assets/svg/info.svg"
                  alt="Info Icon"
                />
              </div>
            </div>
            <div class="custom-tooltip" *ngIf="activeTooltip">
              <b>Password Policy</b>
              <ul class="m-0 p-0 list-unstyled">
                <li>1. Min 8 and Max 16 character length</li>
                <li>2. Must contain 1 special character</li>
                <li>3. Must contain 1 upper case letter (A to Z)</li>
                <li>4. Must contain at least 1 number (0 to 9)</li>
              </ul>
            </div>
            <div class="position-relative">
              <input
                formControlName="password"
                [type]="isPwd ? 'text' : 'password'"
                class="form-control"
                id="password"
                placeholder="Enter password"
                (keydown.space)="$event.preventDefault()"
              />
              <img
                *ngIf="!isPwd"
                src="./../../../assets/lucide-icons/eye-off.svg"
                class="input-group-eye"
                height="30"
                width="30"
                alt=""
                (click)="togglePwd()"
              />
              <img
                *ngIf="isPwd"
                src="./../../../assets/lucide-icons/eye.svg"
                class="input-group-eye"
                height="30"
                width="30"
                alt=""
                (click)="togglePwd()"
              />
            </div>
            <div
              *ngIf="
                (fieldName['password'].touched || isSubmitted) &&
                fieldName['password'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.password?.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="fieldName.password?.errors?.['pattern']">
                Password Don't meet the requirement
                <i
                  class="fa fa-info-circle"
                  aria-hidden="true"
                  data-toggle="popover"
                  title="Popover title"
                  data-content="And here's some amazing content. It's very engaging. Right?"
                ></i>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="confirmPassword"
              >Confirm Password<sup class="text-danger fs-6">*</sup></label
            >
            <div class="position-relative">
              <input
                formControlName="confirmPassword"
                [type]="isCfPwd ? 'text' : 'password'"
                class="form-control"
                id="confirmPassword"
                placeholder="Confirm password"
                (keydown.space)="$event.preventDefault()"
              />
              <img
                *ngIf="!isCfPwd"
                src="./../../../assets/lucide-icons/eye-off.svg"
                class="input-group-eye"
                height="30"
                width="30"
                alt=""
                (click)="toggleCnfPwd()"
              />
              <img
                *ngIf="isCfPwd"
                src="./../../../assets/lucide-icons/eye.svg"
                class="input-group-eye"
                height="30"
                width="30"
                alt=""
                (click)="toggleCnfPwd()"
              />
            </div>
            <div
              *ngIf="
                (fieldName['confirmPassword'].touched || isSubmitted) &&
                fieldName['confirmPassword'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.confirmPassword?.errors?.['required']">
                Confirm Password is required
              </div>
            </div>
            <div
              class="text-danger"
              *ngIf="fieldName.confirmPassword.value != '' && registerForm.errors?.['PasswordNotMatched']"
            >
              Password Does not match
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="gender"
              >Gender<sup class="text-danger fs-6">*</sup></label
            >
            <select
              formControlName="gender"
              class="select-option"
              aria-label="Default select example"
              id="gender"
              name="gender"
            >
              <option value="">Select Gender</option>
              <option
                *ngFor="let gender of genderList"
                [value]="gender.genderName"
              >
                {{ gender.genderName }}
              </option>
            </select>

            <div
              *ngIf="
                (fieldName['gender'].touched || isSubmitted) &&
                fieldName['gender'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.gender?.errors?.['required']">
                Gender is required
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="dob"
              >Date of Birth<sup class="text-danger fs-6">*</sup></label
            >
            <!-- <div class="row w-100">
                            <dp-date-picker theme="dp-material" [config]="config" formControlName="dob"
                                placeholder="(DD/MM/YYYY)" required="true" (keydown)="this.commonService.tabOnly($event)">
                            </dp-date-picker>
                        </div> -->
            <div class="mat-datepicker">
              <input
                class="form-control"
                [matDatepicker]="picker"
                placeholder="DD-MM-YYYY"
                formControlName="dob"
                (keydown)="this.commonService.tabOnly($event)"
                [max]="commonService.todayDate"
              />
              <mat-datepicker #picker></mat-datepicker>
              <img
                class="calendar-icon"
                (click)="picker.open()"
                src="./../../../assets/lucide-icons/calender.svg"
                alt="calendar"
              />
            </div>
            <div
              *ngIf="
                (fieldName['dob'].touched || isSubmitted) &&
                fieldName['dob'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.dob?.errors?.['required']">
                DOB is required
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="city">City</label>
            <input
              formControlName="city"
              type="text"
              class="form-control"
              id="city"
              placeholder="Enter City"
              (keydown)="this.commonService.alphaOnly($event)"
              maxlength="50"
            />
            <div
              *ngIf="
                (fieldName['city'].touched || isSubmitted) &&
                fieldName['city'].errors
              "
              class="text-danger"
            >
              <div
                *ngIf="fieldName['city'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="state">State</label>
            <input
              formControlName="state"
              type="text"
              class="form-control"
              id="state"
              placeholder="Enter State"
              (keydown)="this.commonService.alphaOnly($event)"
              maxlength="50"
            />
            <div
              *ngIf="
                (fieldName['state'].touched || isSubmitted) &&
                fieldName['state'].errors
              "
              class="text-danger"
            >
              <div
                *ngIf="fieldName['state'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="qualification"
              >Qualification<sup class="text-danger fs-6">*</sup></label
            >
            <input
              formControlName="qualification"
              type="text"
              class="form-control"
              id="qualification"
              placeholder="Enter Qualification"
              (keydown)="this.commonService.alphaOnly($event)"
            />

            <div
              *ngIf="
                (fieldName['qualification'].touched || isSubmitted) &&
                fieldName['qualification'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.qualification?.errors?.['required']">
                Qualification is required
              </div>
              <div
                *ngIf="fieldName['qualification'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="domainExpertise"
              >Domain Expertise<sup class="text-danger fs-6">*</sup></label
            >
            <input
              formControlName="domainExpertise"
              type="text"
              class="form-control"
              id="domainExpertise"
              placeholder="Domain Expertise"
              appSpecialChracter
            />
            <div
              *ngIf="
                (fieldName['domainExpertise'].touched || isSubmitted) &&
                fieldName['domainExpertise'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.domainExpertise?.errors?.['required']">
                Domain Expertise is required
              </div>
              <div
                *ngIf="fieldName['domainExpertise'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="currentCompany"
              >Current Company<sup class="text-danger fs-6">*</sup></label
            >
            <input
              formControlName="currentCompany"
              type="text"
              class="form-control"
              id="currentCompany"
              placeholder="Enter current company name"
            />
            <div
              *ngIf="
                (fieldName['currentCompany'].touched || isSubmitted) &&
                fieldName['currentCompany'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.currentCompany?.errors?.['required']">
                Current Company is required
              </div>
              <div
                *ngIf="fieldName['currentCompany'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="currentDesignation">Current Designation</label>
            <input
              formControlName="currentDesignation"
              type="text"
              class="form-control"
              id="currentDesignation"
              placeholder="Current Designation"
              (keydown)="this.commonService.alphaOnly($event)"
            />
            <div
              *ngIf="
                (fieldName['currentDesignation'].touched || isSubmitted) &&
                fieldName['currentDesignation'].errors
              "
              class="text-danger"
            >
              <div
                *ngIf="fieldName['currentDesignation'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="workExperience"
              >Work Experience<sup class="text-danger fs-6">*</sup></label
            >
            <input
              formControlName="workExperience"
              type="text"
              class="form-control"
              placeholder="Work Experience"
            />
            <div
              *ngIf="
                (fieldName['workExperience'].touched || isSubmitted) &&
                fieldName['workExperience'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.workExperience?.errors?.['required']">
                Work Experience is required
              </div>
              <div
                *ngIf="fieldName['workExperience'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="linkedinProfile"
              >Linkedin Profile<sup class="text-danger fs-6">*</sup></label
            >
            <input
              formControlName="linkedinProfile"
              type="text"
              class="form-control"
              placeholder="Linkedin Profile"
            />
            <div
              *ngIf="
                (fieldName['linkedinProfile'].touched || isSubmitted) &&
                fieldName['linkedinProfile'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.linkedinProfile?.errors?.['required']">
                Linkedin Profile is required
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="securityQuestion"
              >Security Question<sup class="text-danger fs-6">*</sup></label
            >
            <select
              formControlName="securityQuestion"
              class="select-option"
              aria-label="Default select example"
            >
              <option value="">Select security question</option>
              <option
                *ngFor="let qlist of securityQuestionList"
                [value]="qlist.questionId"
              >
                {{ qlist.questiondesc }}
              </option>
            </select>
            <div
              *ngIf="
                (fieldName['securityQuestion'].touched || isSubmitted) &&
                fieldName['securityQuestion'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.securityQuestion?.errors?.['required']">
                Security Question is required
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="securityAnswer"
              >Security Answer<sup class="text-danger fs-6">*</sup></label
            >
            <input
              formControlName="securityAnswer"
              type="text"
              class="form-control"
              id="securityAnswer"
              placeholder="Enter security answer"
              appSpecialChracter
            />
            <div
              *ngIf="
                (fieldName['securityAnswer'].touched || isSubmitted) &&
                fieldName['securityAnswer'].errors
              "
              class="text-danger"
            >
              <div *ngIf="fieldName.securityAnswer?.errors?.['required']">
                Security Answer is required
              </div>
              <div
                *ngIf="fieldName['securityAnswer'].errors?.['maxlength']"
                class="text-danger d-inline-block mt-1"
              >
                Max Character can't be more then 50
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div
            class="d-flex align-items-center btn-container gap-2 fileUplod-mobile-screen info-container"
          >
            <label for="formFile" class="m-0 form-label"
              >Profile Photo<sup class="text-danger fs-6">*</sup></label
            >
            <div class="upload-btn-wrapper">
              <button class="upload-btn">Upload</button>
              <input
                type="file"
                name="profilePhoto"
                [accept]="imageType"
                (change)="upload($event, 'profilePhoto')"
                formControlName="profilePhoto"
              />
            </div>
            <div class="tooltip-wrapper">
              <div class="file-info">
                <img
                  class="info-icon-img"
                  (mouseenter)="activeFacultyProfilePhotoTooltip = true"
                  (mouseleave)="activeFacultyProfilePhotoTooltip = false"
                  src="../../../../assets/svg/info.svg"
                  alt="Info Icon"
                />
              </div>
              <div
                class="file-tooltip"
                *ngIf="activeFacultyProfilePhotoTooltip"
              >
                (.jpg, .png, .jpeg) Max size 1mb
              </div>
            </div>
            <div class="file-name mx-3" *ngIf="fieldName['profilePhoto'].valid">
              {{ commonService.trimText(profilePhotoName, 20) }}
            </div>
            <div
              *ngIf="
                (fieldName['profilePhoto'].touched || isSubmitted) &&
                fieldName['profilePhoto'].errors
              "
            >
              <div
                *ngIf="fieldName['profilePhoto'].errors?.['required']"
                class="text-danger d-inline-block mt-1"
              >
                Please add Profile photo
              </div>
              <div
                *ngIf="fieldName['profilePhoto'].errors?.['fileSize']"
                class="text-danger d-inline-block mt-1"
              >
                File size exceeds the limit (1 MB).
              </div>
              <div
                *ngIf="fieldName['profilePhoto'].errors?.['fileType']"
                class="text-danger d-inline-block mt-1"
              >
                Invalid File Type
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center gap-3">
              <input
                type="checkbox"
                formControlName="termsConditions"
                class="checkbox"
              />
              <span class="mx-1 mx-lg-3 mx-md-3 mx-sm-3 agreement"
                >I have read and agree to the</span
              >
              <a class="agreement" (click)="navigateTo('tnc')"
                >Terms & Conditions</a
              >
            </div>
            <div
              *ngIf="
                (fieldName['termsConditions'].touched || isSubmitted) &&
                fieldName['termsConditions'].errors
              "
            >
              <div
                *ngIf="fieldName['termsConditions'].errors?.['required']"
                class="text-danger d-inline-block mt-1 mx-2"
              >
                Please select the checkbox
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center gap-3">
              <input
                type="checkbox"
                formControlName="privacyPolicy"
                class="checkbox"
              />
              <span class="mx-1 mx-lg-3 mx-md-3 mx-sm-3 agreement"
                >I have read and agree to the</span
              >
              <a class="agreement" (click)="navigateTo('privacy')"
                >Privacy policy</a
              >
              <div
                *ngIf="
                  (fieldName['privacyPolicy'].touched || isSubmitted) &&
                  fieldName['privacyPolicy'].errors
                "
              >
                <div
                  *ngIf="fieldName['privacyPolicy'].errors?.['required']"
                  class="text-danger d-inline-block mt-1 mx-2"
                >
                  Please select the checkbox
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center gap-3">
              <input
                type="checkbox"
                formControlName="cookiePolicy"
                class="checkbox"
              />
              <span class="mx-1 mx-lg-3 mx-md-3 mx-sm-3 agreement"
                >I have read and agree to the</span
              >
              <a class="agreement" (click)="this.commonService.cookieModal()"
                >Cookie Policy</a
              >
              <div
                *ngIf="
                  (fieldName['cookiePolicy'].touched || isSubmitted) &&
                  fieldName['cookiePolicy'].errors
                "
              >
                <div
                  *ngIf="fieldName['cookiePolicy'].errors?.['required']"
                  class="text-danger d-inline-block mt-1 mx-2"
                >
                  Please select the checkbox
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary register-button">
      Pre-Register
    </button>
  </form>
</div>
